.completed {
    text-decoration: line-through;
}

.secondary-contect a {
    margin: 0 0.5em;
}

.complete-task {
    color: #12b212;
}

.incomplete-task {
    color: #c31b1b;
}

.delete-task {
    color: #1e3596;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}